.body {
    background-color: lightslategray; 
}

.message {
  border-style: outset;
  border-color: lightblue;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  align-content: center;
}

#input {
  margin: 5px;
  width: 100%;
  height: 25px;
  text-align: center;
}

#submitButton {
  margin: 5px;
  position: relative;
  left: 50%;
  -ms-transform: translateX(-60%);
  transform: translateX(-60%);

  height: 25px;
}

body {font-family: Arial, Helvetica, sans-serif;}
#loginform form {border: 3px solid #f1f1f1;}

#loginform input[type=text], #loginform input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

#loginform button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#loginform h2 {
  text-align: center
}

#loginform button:hover {
  opacity: 0.8;
}

#loginform .container {
  padding: 16px;
}

#loginform span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  #loginform span.psw {
     display: block;
     float: none;
  }
  #loginform .cancelbtn {
     width: 100%;
  }
}